html {
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(white, aliceblue);
}

.top {
    width: 100%;
    height: 40px;
    display: block;
}
.logo {
    margin: 0 20%;
}
.logo h1 {
    
    font-size: 4rem;
    color: #03CF5D;
    text-align: center;
    display: block;
    margin: 8px;
}


.menu_icon {
    float: left;
}
.menu_icon div {
    width: 18px;
    height: 1px;
    background-color: black;
    margin: 5px 5px;
}

.side_menu {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.side {
    color: black;
    text-decoration: underline;
    font-size: 17px;
    font-weight: 700;
}
.side_menu img {
    margin: 6px;
    border: 0.5px solid grey;
    background-color: rgb(212, 201, 201);
    padding: 3px;
}

.side {
    padding: 2px;
}


#search {
    margin: 0 0 120px 0;
}
.sch {
    padding: 0 20px;
    max-width: 488px;
    margin: 0 auto;
    display: block;
}

.sch_box {
    height: 52px;
    padding: 0 1px;
    border: 1.2px solid #03CF5D;
    border-radius: 3px;
    display: flex;
}

.sch_input {
    flex: 1;
    height: 100%;
    padding: 0 80px 0 5px;
    margin-right: 1px;
}

.sch_input input {
    position: relative;
    width: 100%;
    height: 50%;
    border: 20px;
    padding: 14px 10px;
    font-size: 15px;
    color: rgba(227, 219, 219, 0.701);
    background-color: transparent;
    box-sizing: content-box;
}

.sch_region {
    padding: 5px;
}

.sch_image {
    position: relative;
    float: left;
    display: block;
    margin: 5px;
}

#main_menu {
    max-width: 488px;
    display:block;
    margin: 0 auto;
    padding: 0 20px;
}

#main_menu li {
    display: inline-block;
    margin: 10px 20px;
}
.main {
    list-style: none;
    text-align: center;
    color: rgb(189, 174, 174);
    font-size: 11px;
}

.main img {
    padding: 15px;
    border: 2px solid transparent;
    background-color:aliceblue;
    border-radius: 18px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info_wrap a:first-child:before {
    content: "";
}

.info_wrap a::before {
    content: "|";
}

.weather {
    height: 100%;
    margin: 0 20%;
}

.menu1 {
    width: 500px;
    height: 80px;
    border: 1px solid transparent;
    background-color: white;
    margin: 0 auto;
}

.today {
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    display: flex;
    align-items: center;
}

.today_weather {
    margin-left: 10px;
}

.today_weather h2 {
    margin: 0;
}

.today_weather p {
    margin: 0;
}

.other {
    margin-top: 15px;
    display: flex;
    float: right;
    font-size: 40px;
    color: aliceblue;
}

footer {
    margin-top: 50px;
}
.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.last_menu {
    font-size: 12px;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
}

.info_wrap {
    margin: 5px;
}
.last_logo {
    margin-top: 10px;
}

.last_logo img {
    display: block;
    margin: 0 auto;
}

.menu2 {
    width: 500px;
    height: 280px;
    border: 1px solid transparent;
    background-color: white;
    margin: 5px auto;
}

.menu2_top {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.menu2_top span {
    margin-left: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.buttons {
    width: 90%;
    height: auto;
    margin: 10px 20px 5px 20px;
}
.buttons button {
    min-width: 10px;
    height: 20%;
    border: 1px solid transparent;
    font-size: 15px;
    text-align: center;
    background-color: aliceblue;
    color:silver;
    padding: 10px;
}

.buttons button:active {
    background-color:royalblue;
    color: white;
}

.week {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: auto;
    height: auto;
    font-size: 15px;
}


.week {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 5px;
    padding-top: 20px;
}

.week > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.week > div > span {
    margin-bottom: 10px;
}

.day {
    color: grey;
}

#today {
    color: white;
    background-color: grey;
    border: 1px solid transparent;
    padding:2px 4px;
    font-size: 12px;
    border-radius: 30%;
}

.corona {
    width: 500px;
    height: auto;
    border: 1px solid transparent;
    background-color: white;
    margin: auto;
}

.corona > div {
    
}

.anniversary {
    width: 500px;
    height: auto;
    border: 1px solid transparent;
    background-color: white;
    margin: auto;
}